/*宣告＃card為flex container*/
#cards {
  display: flex;
  flex-wrap: wrap;  /*換行*/
}

.card {
  box-sizing: border-box;

  /*flex-basis  flex-grow  flex-shrink*/
  flex: 7% 0 1; /*每個item 分配容器寬度*/
  height: 8vw;
  border: 2px solid #e0e0e0;

  /*卡片內部元件排版*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin: 2px;
}

/*卡片圖片*/
.card img {
  max-width: 30%;
  align-self: center;
}

/* 調整卡片數字 設定大小與邊距 */
.card p {
  margin: 3px;
  font-size: 10px;
}

/* 第二個數字旋轉倒轉過來 */
.card p:last-child {
  transform: rotate(180deg);
}

/*加入牌背樣式*/
.back {
  background: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
  background-size: cover;
}

/* 配對成功樣式 */
.paired {
  background-color: #dae0e3;
}